<button class="btn btn-light" (click)="goBack()" style="margin-bottom: 10px;" (click)="goBack()">Back</button>
<form 
  [formGroup]="groupForm" 
  (ngSubmit)="onSubmit()">
  <h4>{{formHeading}}</h4>
  <div class="form-group">
    <label for="name">Group Name</label>
    <input 
      id="name"
      type="text"
      class="form-control"
      formControlName="name"
      [ngClass]="{
        'is-invalid': !groupForm.get('name').valid && groupForm.get('name').touched
      }"
    >
    <span 
      class="help-block"
      *ngIf="!groupForm.get('name').valid && groupForm.get('name').touched">
      Group Name is required!
    </span>
  </div>
  <button 
    style="margin-top: 10px" 
    class="btn btn-success" 
    type="submit"
    [disabled]="!groupForm.valid || isEqual()"
    >Save</button>
  <button 
    style="margin-top: 10px; margin-left: 10px" 
    class="btn btn-danger" 
    (click)="onClear()"
    type="button"
  >Clear</button>
  <button 
    style="margin-top: 10px; margin-left: 10px" 
    class="btn btn-light" 
    (click)="onReset()"
    type="button"
  >Reset</button>
</form>